<section class="h-[calc(100vh-4rem)] flex items-center justify-center">
    <div class="w-full max-w-sm px-2">
        <!-- <img src="/padlock.png" alt="Padlock" class="m-auto w-24 h-24" /> -->

        <h3 class="text-center font-semibold text-xl my-2">Entre para visualizar o dashboard</h3>
        
        <button class="button-google" type="button" (click)="loginGoogle()">
            <img src="/google.png" alt="Google" class="absolute left-2 w-6 h-6" />
            Entrar com o google
        </button>
    </div>
</section>
