<div class="h-full flex flex-col">

    <div class="h-full grid sm:grid-cols-2 sm:divide-x-2 divide-y-2 sm:divide-y-0">
        <div class="pt-3 sm:pt-5 border-blue-border">
            <h3 class="font-semibold text-xl text-center border-blue-border">Ganhos</h3>
    
            <ul class="text-left py-4 px-2 border-blue-border divide-y">
                @for (item of totalProfit(); track $index) {
                    <li class="text-xs sm:text-sm flex justify-between mb-2 pb-2 border-blue-border">
                        <span class="truncate capitalize">
                            @if (item.date) {
                                {{ `${item.date} -` }}
                            }  
                            {{ item.name }}
                        </span> 
                        <span class="text-emerald-500 font-semibold">{{ item.value | currency:'BRL':'symbol' }}</span>
                    </li>
                }
            </ul>
        </div>
    
        <div class="pt-3 sm:pt-5 border-blue-border">
            <h3 class="font-semibold text-xl text-center border-blue-border">Gastos</h3>
    
            <ul class="text-left py-4 px-2 border-blue-border divide-y">
                @for (item of totalExpense(); track $index) {
                    <li class="text-xs sm:text-sm flex justify-between mb-2 pb-2 border-blue-border">
                        <span class="truncate capitalize">
                            @if (item.date) {
                            {{ `${item.date} -` }}
                            }
                            {{ item.name }}
                        </span>
                        <span class="text-red-500 font-semibold">{{ item.value | currency:'BRL':'symbol' }}</span>
                    </li>
                }
            </ul>
        </div>
    </div>
    
    <div class="flex justify-end p-3 border-t-2 border-blue-border text-sm">    
        <a href="#" class="flex items-center gap-1 text-blue-600">
            <span>Ver mais</span>
            <span class="pi pi-arrow-right" style="font-size: 0.75rem;"></span>
        </a>
    </div>
</div>