<header class="w-full text-sm sm:text-base flex justify-between items-center mb-2.5">
    <div class="flex gap-2 w-full sm:w-fit">
        <span
            class="bg-slate-950 p-2 rounded-xl border-1 font-semibold w-full max-w-1/3 sm:max-w-28 text-center border-blue-600"
            pTooltip="Saldo atual" tooltipPosition="bottom">
            {{ balance | currency:'BRL':'symbol' }}
        </span>
        <span
            class="bg-slate-950 p-2 rounded-xl border-1 font-semibold w-full max-w-1/3 sm:max-w-28 text-center border-green-500"
            pTooltip="Disponivel para gastar no mês" tooltipPosition="bottom">
            {{ maximumSpending | currency:'BRL':'symbol' }}
        </span>
        <span class="bg-slate-950 p-2 rounded-xl border-1 font-semibold w-full max-w-1/3 sm:max-w-28 text-center border-red-500"
            pTooltip="Gasto acima do esperado" tooltipPosition="bottom">
            {{ calculaGastoAcimadoLimite(maximumSpending, unexpectedCosts) | currency:'BRL':'symbol' }}
        </span>
    </div>
    
</header>

<section class="flex gap-5 mb-2.5">
    <div class="bg-slate-950/80 py-5 rounded-xl w-full">
        <div class="flex justify-between items-center px-5 mb-5">
            <h3 class="font-semibold  text-xl">Recursos</h3>


            <div class="flex gap-3">
                <!-- <i class="pi pi-info-circle" style="font-size: 1rem" pTooltip="Dados do periodo 07/2025" tooltipPosition="bottom"></i> -->
                <i class="pi pi-sign-out cursor-pointer" (click)="logout()" style="font-size: 1rem" pTooltip="Sair" tooltipPosition="bottom"></i>
            </div>
        </div>

        <div class="w-full grid grid-cols-2 md:grid-cols-3 text-sm sm:text-base border-t-2 border-b-2 border-blue-border divide-x-2">
            <button (click)="showModal('visiAddBalance')" class="card-button border-blue-border border-b-2">
                Saldo
                <i class="pi pi-chevron-right"></i>
            </button>

            <button (click)="showModal('visiAddFixedIncome')"
                class="card-button border-blue-border border-b-2 border-r-0 md:border-r-2">
                Renda fixa
                <i class="pi pi-chevron-right"></i>
            </button>

            <button (click)="showModal('visiAddWindfall')" class="card-button border-blue-border border-b-2 border-r-2 md:border-r-0">
                Renda extra
                <i class="pi pi-chevron-right"></i>
            </button>

            <button (click)="showModal('visiAddMaximumSpending')" class="card-button border-blue-border border-r-0 md:border-r-2 border-b-2 md:border-b-0">
                Pra gastar
                <i class="pi pi-chevron-right"></i>
            </button>

            <button (click)="showModal('visiAddFixedCosts')" class="card-button border-blue-border">
                Gastos fixos
                <i class="pi pi-chevron-right"></i>
            </button>

            <button (click)="showModal('visiAddUnexpectedCosts')" class="card-button">
                Gastos extas
                <i class="pi pi-chevron-right"></i>
            </button>
        </div>
    </div>
</section>

<section class="flex flex-col lg:flex-row gap-5">
    <div class="bg-slate-950/80 rounded-xl w-full xl:max-w-2/4">
        <app-earning-spending-table [totalProfit]="totalProfit()" [totalExpense]="totalExpense()"></app-earning-spending-table>
    </div>

    <div class="bg-slate-950/80 rounded-xl w-full xl:max-w-2/4 py-5 text-black h-fit">
        <h3 class="font-semibold pl-5 text-xl text-white">Grafico de gastos e ganhos</h3>
        <app-earning-spending-chart [totals]="totals()"/>
    </div>
</section>

<!-- Modals -->
<modal-add-balance 
    [visible]="visiAddBalance"
    [variableName]="'visiAddBalance'"
    (visibilityChanged)="visibilityChange($event)"
/>

<modal-add-fixed-income 
    [visible]="visiAddFixedIncome"
    [variableName]="'visiAddFixedIncome'"
    (visibilityChanged)="visibilityChange($event)"
    [dataTable]="fixedIncome"
/>

<modal-add-windfall 
    [visible]="visiAddWindfall"
    [variableName]="'visiAddWindfall'"
    (visibilityChanged)="visibilityChange($event)"
    [dataTable]="windfall"
/>


<modal-add-maximum-spending 
    [visible]="visiAddMaximumSpending"
    [variableName]="'visiAddMaximumSpending'"
    (visibilityChanged)="visibilityChange($event)"
    [currentValue]="maximumSpending"
/>

<modal-add-fixed-costs 
    [visible]="visiAddFixedCosts"
    [variableName]="'visiAddFixedCosts'"
    (visibilityChanged)="visibilityChange($event)"
    [dataTable]="fixedCosts"
/>

<modal-add-unexpected-costs 
    [visible]="visiAddUnexpectedCosts"
    [variableName]="'visiAddUnexpectedCosts'"
    (visibilityChanged)="visibilityChange($event)"
    [dataTable]="unexpectedCosts"
/>

